# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/

# macOS
.DS_Store
*.swp
*~

# CocoaPods
Pods/

# SPM
.build/
Package.resolved

# Firebase
GoogleService-Info.plist
.firebase/

# Firebase Functions
functions/lib/
functions/node_modules/
